<template>
  <header class="head">

    <router-link :to="{ name: 'Home'}">
      <h1 class="head__title">
        <span class="head__title--arrow"></span>
        <span class="head__title--thin"> Teste </span>
        <span class="head__title--bold">Prodigious</span>
      </h1>
    </router-link>

    <div class="head__content">

      <div class="head__content__location">
        <svg class="head__content__location--icon" @click="getLocation()" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
  		     <path d="m256 0c-99.252 0-180 80.748-180 180 0 33.534 9.289 66.26 26.869 94.652l142.88 230.26c2.737 4.411 7.559 7.091 12.745 7.091h0.119c5.231-0.041 10.063-2.804 12.75-7.292l139.24-232.49c16.61-27.792 25.389-59.681 25.389-92.22 0-99.252-80.748-180-180-180zm128.87 256.82l-126.59 211.37-129.9-209.34c-14.633-23.632-22.567-50.896-22.567-78.846 0-82.71 67.49-150.2 150.2-150.2s150.1 67.49 150.1 150.2c0 27.121-7.411 53.688-21.234 76.818z"/>
  		     <path d="m256 90c-49.626 0-90 40.374-90 90 0 49.309 39.717 90 90 90 50.903 0 90-41.233 90-90 0-49.626-40.374-90-90-90zm0 150.2c-33.257 0-60.2-27.033-60.2-60.2 0-33.084 27.116-60.2 60.2-60.2s60.1 27.116 60.1 60.2c0 32.683-26.316 60.2-60.1 60.2z"/>
        </svg>
      </div>

      <Menu />
    </div>

  </header>
</template>

<script>
import Menu from '../UIComponents/Menu'

export default {
  components: { Menu },


  methods: {
    getLocation(){
      navigator.geolocation.getCurrentPosition( position => {
        console.log(position);
      })
     }
  }
}

</script>
