@import './app/utils/variables';
@import './app/utils/placeholders';
@import './app/utils/mixins';

@import './app/components/home';
@import './app/components/about';
@import './app/components/register';
@import './app/components/modal';
@import './app/components/header';
@import './app/components/menu';

@import './app/utils/responsive';

@font-face {
    font-family: gotham-book;
    src: url('../fonts/Gotham-Book.otf');
}

@font-face {
    font-family: gotham-bold;
    src: url('../fonts/Gotham-Bold.otf');
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gotham-book;
}

ul li { list-style: none }
a { text-decoration: none }
button{ border: none }
