.about{
  width: 100%;
  height: 100%;
  @extend %center-column;
  justify-content: center;

  &__title{
    margin-top: 35%;
    width: 12em;
    &--img{
      width: 100%;
      height: 100%;
    }
  }

  &__desc{
    width: 95%;
    text-align: center;
    margin-top: 8%;
    &--title{
      margin-top: 3%;
      color: $bgColor;
    }

    &--text{
      margin-top: 1%;
      color: $darkGrey;
    }
  }

  &__contact{
    width: 95%;
    text-align: center;
    margin-top: 8%;
    @extend %center-column;

    &--title { color: $bgColor }
    &--item {
      &:nth-child(2){
        margin-top: 3%;
      }
      color: $darkGrey;
      margin-top: 1%;
    }
  }

}

.divider{
  width: 10%;
  height: .3em;
  background: $bgColor;
  margin-top: 8%;
}
