.head
{
  @include linear-gradient($white, #eee);
  @extend %center-row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  z-index: 9999;

  &__title{
    font-size: 1.15em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .8px;

    &--arrow {
      width:  .6em;
      height: .6em;
      border: 1px solid $darkGrey;
      border-width: 0 0 1.5px 1.5px;
      transform: rotate(45deg);
      margin-right: .2em;
    }

    &--bold {
      padding-left: .4em;
      font-family: gotham-bold;
      color: $darkGrey;
    }

    &--thin {
      font-family: gotham-book;
      color: $mediumGrey;
      border-bottom: 2px solid $darkGrey;
      border-top: 2px solid $darkGrey;
      border-width: medium ;
      padding: 8px 0;
    }
  }

  &__content{
    @extend %center-row;
    justify-content: space-between;

    &__location{
      width: 2.3em;
      cursor: pointer;

      &--icon{
        width: 100%;
        height: 100%;
        fill: $mediumGrey;
      }
    }
  }
}
