.main {
  @extend %center-column;
  justify-content: center;
  background: $bgColor;
  width: 100%;
  height: 100%;

  .clients {
    margin-top: 10%;
    padding-left:2em;
    width: 225px;
    height: 130px;
    overflow: hidden;
    cursor: pointer;
  }

  .items {
    @extend %center-row;
    position: relative;
    width: 90%;
    margin: 5%;
    justify-content: space-around;


    &__container {
      @extend %row;


      &__controll {
        @extend %center-column;

        &--pointer {
          margin: -10%;
        }

        &--name {
          @extend %center-column;
          flex-direction: column-reverse;
          padding-top: .2rem;
        }
      }
    }
  }
}

.embed{
  margin-top: 5%;
  position: relative;
  width: 80%;
  height: 14em;

  iframe{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}


input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: $darkGrey;
    font-family: gotham-bold;
    font-size: .8em;
}
input[type="radio"] + label span {
    display:inline-block;
    width: .6em;
    height:.6em;
    margin-bottom: .5em;
    cursor:pointer;
    border-radius:  50%;
}


input[type="radio"] + label span {
     background-color:$darkGrey;
     z-index: 5;
}

input[type="radio"]:checked + label span{
     background-color: $white;
     transform: scale(1.4);
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  transition:background-color 0.1s linear;
}

// label{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column-reverse;
// }
