.hamburguer {
  cursor: pointer;
  height: 100%;
  width: 2em;
  margin-left: 30%;
  transition: all .2s ease-out;

  &__stripe {
    width: 100%;
    height: 3px;
    background: $bgColor;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;

    .on &--top    { transform: rotate(45deg) translate(10px, 4.5px) }
    .on &--middle { opacity: 0 }
    .on &--bottom { transform: rotate(-45deg) translate(10px, -4.5px) }
  }


}

.menu{
  // position: relative;
  width: 100%;
  height: 100%;
}

.menu__content{
  @extend %center-column;
  justify-content: center;
  margin-top: 1.3em;
  background: $bgColor;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;

  a{
    &:nth-child(1){margin-top: -40%}
    letter-spacing: 2px;
    color: $white;
    font-size: 1.4em;
    margin-top: 1.5em;
    text-transform: uppercase;
    &:hover{
      color: rgba($white, .6);
      transform: scale(1.1);
      transition: all .35s ease;
    }
  }
}

.isBlurred{
  filter: blur(10px);
}
