.modal-mask
{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper
{
    display: table-cell;
    vertical-align: middle;
}

.modal-container
{
    @extend %page;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin: 4.2em auto;

    background-color: $white;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .33);
    transition: all .12s ease;
}

.modal-enter
{
    opacity: 0;
}

.modal-leave-active
{
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container
{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
}

.modal__header
{
  @extend %center-row;
  justify-content: space-between;
  width: 92vw;
  padding: 1em 0;
  border-bottom: 1px solid $bgColor;
  font-family: gotham-bold;
  color: $bgColor;

  .exit{
    @extend %center-column;
    width: 1.6em;
    height: 1.6em;
    margin-top: 1em;
    &__line{
      background: $bgColor;
      width: 100%;
      height: 10%;
      cursor: pointer;

      &--1 { transform: rotate(45deg)  translate(8%, 3%) }
      &--2 { transform: rotate(-45deg) translate(8%,-3%) }
    }
  }
}

.modal__body
{
  @extend %column;
  width: 92vw;
  text-align: left;
  &--text{
    margin-top: 1em;
  }
}
