.register
{
  @extend %center-column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: $bgColor;

  &--title{
    color: $white;
    font-size: 1.3em;
    font-family: gotham-bold;
  }

  &__container{
    @extend %center-column;
    width: 100%;

    &--input{
      width: 90%;
      font-size: 1.1em;
      border: none;
      background: transparent;
      border-bottom: 2px solid $white;
      margin-top: 2%;
      text-indent: 3px;
      padding: .8em 0em;
      color: $white;
      &::-webkit-input-placeholder{
        color: #ddd;
      }
    }
  }

  &__buttons{
    margin-top: 3%;
    @extend %center-row;
    justify-content: space-between;
    width: 90%;
    &--btn{
      width: 48%;
      font-family: gotham-bold;
      font-size: 1em;
      border-radius: 3px;
      background: $white;
      color: $bgColor;
      padding: 1em 0;
      border: 2px solid $white

      &:hover{
        background: $bgColor;
        color: $white;
        transition: all .3s;
      }
    }
  }
}
