<template>
  <section class="about-page">

    <Header />

    <div class="about">

      <h1 class="about__title">
        <img class="about__title--img" src="../../../static/prodigious_logo.png">
      </h1>

      <div class="about__desc">
        <h2 class="about__desc--title">O que fazemos?</h2>
        <p class="about__desc--text">
          Lorem ipsum blandit odio sem quam nam sociosqu nisi, fames curabitur blandit orci hendrerit habitasse porta, fermentum phasellus massa class facilisis quisque fermentum. nunc id rutrum urna elit
        </p>
      </div>

      <div class="divider"></div>

      <div class="about__contact">
        <h3 class="about__contact--title">Entre em contato</h3>
        <span class="about__contact--item" >br@prodigious.com | 53 3031 8300</span>
        <span class="about__contact--item" >Av. Doutor Figueiredo Mascarenhas, 94</span>
        <span class="about__contact--item" >6055-510 – Três Vendas - Pelotas</span>
      </div>

    </div>

  </section>
</template>

<script>
import Header from '../FixedComponents/Header'

export default {
  components: { Header }
}
</script>
