<template>
  <section class="home-page">

    <Header />

    <div class="main">

      <div class="clients" @click="showInfo()">
        <img src="../../../static/sprite-brands.png"  ref="logo">
      </div>

      <div class="items">
        <div v-for="(item, index) in items" :key="index" class="items__container">


          <div class="items__container__controll">
            <input
              class="items__container__controll--pointer"
              type="radio"
              name="item"
              :id="index"
              @change="changeSlide(index)"
              ref="point">

            <label
              class="items__container__controll--name"
              :for="index"
              ref="name">
              {{item.name}}
              <span></span>
          </label>
        </div>
       </div>
      </div>

      <div class="embed" v-if="embedLoaded">
        <iframe :src="items[position].video"></iframe>
      </div>
    </div>


    <modal v-if="isShow" class="modal">
      <div class="modal__header" slot="header">
        <span>{{ client.name }}</span>

        <div class="exit" @click="isShow = false">
          <span class="exit__line exit__line--1"></span>
          <span class="exit__line exit__line--2"></span>
        </div>
      </div>

      <div class="modal__body" slot="content">
        <span class="modal__body--text" >{{ client.description }}</span>
        <span class="modal__body--text" >{{ client.description }}</span>
      </div>
    </modal>


  </section>
</template>

<script>
import axios from 'axios'
import Header from '../FixedComponents/Header'
import Modal from '../UIComponents/Modal'

export default {
  components: { Header, Modal },

  data(){
    return {
      isShow: false,
      position: 0,
      width: 225,
      height: 130,
      marginType: '',
      items: '',
      paused: false,
      client: '',
      embedLoaded: false
    }
  },

  created(){
    this.getClients()
    this.slider()

  },

  methods:{
    // Pega todos os clientes do banco
    getClients(){
      axios.get('http://localhost:3000/items').then(res => {
        console.log(res.data);
        this.items = res.data
        this.embedLoaded = true;
      })
    },

    /*
      Metodo ultilizado para percorrer todos os itens do sprite
    */
    iterateSprite(){
      let row = Math.floor(this.position / 5) * this.height
      let column = this.position % 5 * this.width
      this.$refs.logo.style.marginTop = -row + 'px'
      this.$refs.logo.style.marginLeft = -column + 'px'
    },


     slider() {
       setInterval( () => {
          this.$nextTick( () => {
            //se chegar no quarto patrocinador ele retorna ao primeiro.
            if (this.position == 3) this.position = 0
            else this.position++

            this.$refs.point[this.position].checked = true

            this.iterateSprite()
          })
       },
          2500 //intervalo
     )},


    /*
      Metodo para trocar os slides atravez do pointer
    */
    changeSlide(index){
      let margin = this.marginType

      if (this.position > index) {
        this.marginType = 'style.marginLeft'
        this.$refs.logo.margin = (-this.width * this.position) + 'px'
      }else{
        this.marginType = 'style.marginRight'
        this.$refs.logo.margin = (this.width * this.position) + 'px'
      }

      this.position = index
      this.iterateSprite()
    },

    showInfo(){
      this.isShow = true
      this.client = this.items[this.position]
    },


  }

}
</script>

<style media="screen">
  .home-page{
    width: 100%;
    height: 100vh;
  }
</style>
