<template>
  <section class="register-page">

    <Header />

    <div class="register">
      <h1 class="register--title">Cadastre-se agora!</h1>
      <form class="register__container">
        <input class="register__container--input" type="text"   placeholder="nome">
        <input class="register__container--input" type="text"   placeholder="sobrenome">
        <input class="register__container--input" type="number" placeholder="idade">
      </form>

      <div class="register__buttons">
          <button class="register__buttons--btn">Cadastrar</button>
          <button class="register__buttons--btn">Cancelar</button>
      </div>
    </div>

  </section>
</template>

<script>
import Header from '../FixedComponents/Header'

export default {
  components: { Header }
}
</script>


<style>
  .register-page{
    width: 100%;
    height: 100vh;
  }
</style>
