<template>
  <div class="menu">

    <div class="hamburguer" @click="toggle" ref="hamburguer">
      <div class="hamburguer__stripe hamburguer__stripe--top"></div>
      <div class="hamburguer__stripe hamburguer__stripe--middle"></div>
      <div class="hamburguer__stripe hamburguer__stripe--middle"></div>
      <div class="hamburguer__stripe hamburguer__stripe--bottom"></div>
    </div>

    <nav class="menu__content" v-if="isOpen">
      <router-link :to="{ name: 'Home' }">Home</router-link>
      <router-link :to="{ name: 'About' }">Sobre</router-link>
      <router-link :to="{ name: 'Register' }">Registre-se</router-link>
      <a href="https://portfolio.prodigious.com/" target="_blank">Portifolio</a>
    </nav>


  </div>
</template>

<script>
export default {
  data(){
    return{
      isOpen: false,
    }
  },

  methods: {
    toggle(){
      if (!this.isOpen) this.isOpen = true
      else this.isOpen = false
      this.$refs.hamburguer.classList.toggle('on')
      console.log(this.$refs);
    }
  }
}
</script>
