<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div>
            <slot name="header"></slot>
          </div>

          <div>
            <slot name="content"></slot>
          </div>

        </div>
      </div>
    </div>
  </transition>

</template>


<script>
export default {}
</script>
