%row
{
  display: flex;
  flex-direction: row;
}

%column
{
  display: flex;
  flex-direction: column;
}

%center-row
{
  @extend %row;
  align-items: center;
}

%center-column
{
  @extend %column;
  align-items: center;
}

%page
{
  width: 100%;
  height: 100vh;
}
