@media (min-width: 600px){
    .modal-container{
      width: 60%;
      height: 60%;

      .modal__header,
      .modal__body {
        width: 58vw;
      }
    }



    .menu__content{
      width: 25%;
      justify-content: flex-start;
      background: $white;
      a {
        &:nth-child(1){margin-top: 20%}
        font-size: 1em;
        color: $darkGrey;
        &:hover{
          color: rgba($darkGrey, .6);
        }
      }
    }

    .about__title{
      margin-top: 15%;
    }

    .about__desc{
      width: 90vw;
    }
 }



@media (min-width: 1020px){
  .menu__content{
    width: 20%;
    a{
      font-size: 1.1em;
    }
  }

  .register-page{
    background: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register{
    background: $white;
    border-radius: 5px;
    width: 50%;
    height: 50%;

    &--title{
      color: $bgColor;
    }

    &__container--input{
      border-bottom: 2px solid $bgColor;
      color: $bgColor;
      &::-webkit-input-placeholder{
        color: $mediumGrey;
      }
    }

    &__buttons--btn{
      background: $bgColor;
      color: $white;
      border: 2px solid $bgColor;
      cursor: pointer;
      &:hover{
        background: $white;
        color: $bgColor;
        transition: all .5s;
      }
    }
  }

  .items{
    width: 80%;
  }
}


@media (min-width: 1360px) {
  .about{
    width: 95vw;
    height: 100%;
    padding-bottom: 1%;
    font-size: 1em;
  }

  .clients{
    margin-bottom: -3%;
  }
  .embed{
    margin-top: -3%;
  }
}


@media (min-width: 1600px){
  .menu__content{
    width: 15%;
  }

  .about__title{
    font-size: 1.3em;
    margin-top: 8%;
  }

  .about__desc{
    width: 50vw;
  }

  .embed{
    height: 25em;
  }
}
